### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Android ###
local.properties
*.keystore
*.jks

### IntelliJ / Android Studio ###
.idea/
!.idea/runConfigurations/
*.iml
*.ipr
*.iws
out/
captures/

### macOS ###
.DS_Store

### Kotlin/Native ###
*.klib

### Docker ###
.env
.kotlin/
